[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bobtail = "*"
bobtail-cors = "*"
bobtail-logger = "*"
bobtail-upload = "*"
bobtail-jinja2 = "*"

[dev-packages]
cython = "*"
wheel = "*"
pytest = "*"
setuptools = "*"
twine = "*"

[requires]
python_version = "3.14"
python_full_version = "3.14.0"
