birman==0.0.2
bobtail==0.0.29
bobtail-cors==0.0.1
bobtail-jinja2==0.0.2
bobtail-logger==0.0.1
bobtail-upload==0.0.1
Jinja2==3.1.6
MarkupSafe==3.0.3
-e git+https://github.com/joegasewicz/volk.git@a0adbfc7a0f68b0d5dac685b173ec0a4a48f49e9#egg=volk
